<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.daac.pacq.domain.ref.TenderType" />
		<mapping class="com.daac.pacq.domain.ref.PositionType" />
		<mapping class="com.daac.pacq.domain.ref.IntentionStatus" />
		<mapping class="com.daac.pacq.domain.ref.OrgLegalForm" />
		<mapping class="com.daac.pacq.domain.ref.Bank" />
		<mapping class="com.daac.pacq.domain.ref.ContractType" />
		<mapping class="com.daac.pacq.domain.ref.Status" />
		<mapping class="com.daac.pacq.domain.ref.Goods" />
		
		<mapping class="com.daac.pacq.domain.entity.BudgetPeriod" />
		<mapping class="com.daac.pacq.domain.entity.StateOrg" />
		<mapping class="com.daac.pacq.domain.entity.Complaint" />
		<mapping class="com.daac.pacq.domain.entity.Tender" />
		<mapping class="com.daac.pacq.domain.entity.IntentionAnounceStatus" />
		<mapping class="com.daac.pacq.domain.entity.IntentionAnounce" />
		<mapping class="com.daac.pacq.domain.entity.QualifiedEconomicOperator" />
		<mapping class="com.daac.pacq.domain.entity.NotAllowedEconomicOperator" />
		<mapping class="com.daac.pacq.domain.entity.TenderShort" />
		
		
		
		<mapping class="com.daac.pacq.domain.entity.Contract" />
		
	</session-factory>
</hibernate-configuration>